<p class="lead">
  Use the status property of a step to highlight and clarify wizard progress - completed steps, errors etc.
</p>
<p>
  By default steps will be marked as finished or completed when you've passed them. If you want to handle step states
  manually it's possible to do so using the <code>markPassedAsSuccess</code> config option. It's also possible to set
  other states using the <code>setState</code> method provided by <code>WizardSteps</code>.
</p>
<div markdown [data]="setStateMethod | language: 'typescript'" class="ml-n5 mr-n3 mx-sm-0"></div>
<h4 class="mt-4">Available states</h4>
<p>The wizard supports the following states.</p>
<ul class="list-group list-group-bullet mb-4">
  <li class="list-group-item"><span class="badge badge-info">info</span></li>
  <li class="list-group-item"><span class="badge badge-success">success</span></li>
  <li class="list-group-item"><span class="badge badge-warning">warning</span></li>
  <li class="list-group-item"><span class="badge badge-danger">danger</span></li>
  <li class="list-group-item"><code>null</code> (emtpy)</li>
</ul>
<h3>Set state for active step</h3>
<p>Set state for active step using the <code>setState</code> method.</p>
<div class="form-row mb-3">
  <div class="col-12 col-sm-auto mb-3" *ngFor="let state of states">
    <button class="btn btn-outline-primary w-100" (click)="setState(state)">
      {{ state ? 'Set ' + state : 'Clear' }} state
    </button>
  </div>
</div>
<h3>Set state for step based on route path</h3>
<p>Set state of any step by passing the route path to the <code>setState</code> method.</p>
<form [formGroup]="stepForm" class="row">
  <div class="col-12 col-sm-auto">
    <div class="form-group">
      <label for="pathInput">Route path</label>
      <input
        formControlName="stepRoute"
        type="text"
        class="form-control"
        id="pathInput"
        aria-describedby="pathHelp"
        placeholder="Enter route path"
      />
      <small id="pathHelp" class="form-text text-muted" style="max-width: 375px;"
        >Enter valid route path for step you wish to update state for eg. 'options-and-configuration/step-configuration'
        or 'examples/language'</small
      >
    </div>
  </div>
</form>
<div class="form-row">
  <div class="col-12 col-sm-auto mb-3" *ngFor="let state of states">
    <button class="btn btn-outline-primary w-100" (click)="setStateForPath(state)">
      {{ state ? 'Set ' + state : 'Clear' }} state
    </button>
  </div>
</div>
