<p></p>
<table class="table">
  <thead>
    <tr>
      <th>@Input</th>
      <th>Description</th>
      <th>Default</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code>title</code></td>
      <td>The title/heading in the top navbar, e.g. this example uses 'SEB ng-wizard' as title.</td>
      <td>n/a</td>
    </tr>
    <tr>
      <td><code>hideCloseButton</code></td>
      <td>Hide close button in modal header.</td>
      <td><code>false</code></td>
    </tr>
    <tr>
      <td><code>lang</code></td>
      <td>Language used in the wizard, currently supported values are "en" and "sv".</td>
      <td>'en'</td>
    </tr>
    <tr>
      <td><code>routerOutletName</code></td>
      <td>Custom routerOutlet to be used with the wizard.</td>
      <td>n/a</td>
    </tr>
  </tbody>
</table>
