<ng-container *transloco="let t">
  <p class="lead">{{ t('addToHeader_lead') }}</p>
  <h4>{{ t('addToHeader_markup_heading') }}</h4>
  <p>{{ t('addToHeader_markup_paragraph') }}</p>
  <div class="overflow-auto d-flex mx-n3 mx-sm-0 mt-3 mb-4">
    <div markdown [data]="headerMarkup | language: 'markup'"></div>
  </div>
  <h4 class="mt-4">{{ t('addToHeader_typescript_heading') }}</h4>
  <p>{{ t('addToHeader_typescript_paragraph') }}</p>
  <div class="overflow-auto d-flex mx-n3 mx-sm-0 mt-3 mb-4">
    <div markdown [data]="typescript | language: 'typescript'"></div>
  </div>
</ng-container>
