<p class="lead">Get started with the wizard in four steps!</p>
<p>More information and examples for each step will be presented later on in this wizard.</p>
<h4>Steps to get started</h4>
<ol class="list-group list-group-ordered">
  <li class="list-group-item pr-0">
    <strong>Install</strong> - Install using npm with:
    <code class="text-nowrap">npm install @sebgroup/ng-wizard --save</code>
  </li>
  <li class="list-group-item pr-0">
    <strong>Import module(s)</strong> - Import <code>SebNgWizardModule</code> and other dependencies.
  </li>
  <li class="list-group-item pr-0"><strong>Add/use component</strong> - Add wizard component to app.</li>
  <li class="list-group-item pr-0"><strong>Add steps (routes)</strong> - Declare steps used in the wizard.</li>
</ol>
