<div class="alert alert-warning alert-icon mx-n3 mx-sm-0">
  <h4 class="alert-heading">Next step is protected</h4>
  <p>
    The following step relies on a route guard which checks if the profile has been saved before the user can proceed.
  </p>
  <h5 class="alert-heading">To continue, make sure:</h5>
  <ol class="list-group list-group-ordered">
    <li class="list-group-item pr-0">All required form details are provided and valid.</li>
    <li class="list-group-item pr-0">The data has been saved.</li>
  </ol>
</div>
<div class="alert alert-info alert-icon mx-n3 mx-sm-0">
  <h4 class="alert-heading">Code example</h4>
  <p>The code for this example is available in the next step.</p>
</div>
