<ol class="list-group list-group-ordered">
  <li class="list-group-item pr-0">
    <strong>Install</strong> - Install using npm with:
    <code class="text-nowrap">npm install @sebgroup/ng-wizard --save</code>
  </li>
  <li class="list-group-item pr-0">
    <strong>Import module(s)</strong> - Import <code>SebNgWizardModule</code> and other required modules like this:
    <div markdown [data]="importModule | language: 'typescript'" class="ml-n5 mr-n3 mx-sm-0"></div>
  </li>
  <li class="list-group-item pr-0">
    <strong>Add/use component</strong> - Use <code>SebNgWizardComponent</code> in template like this:
    <div markdown [data]="addComponent | language: 'markup'" class="ml-n5 mr-n3 mx-sm-0"></div>
  </li>
  <li class="list-group-item pr-0">
    <strong>Add steps (routes)</strong> - Add steps to <code>AppRoutingModule</code> like this:
    <div markdown [data]="addRoutes | language: 'typescript'" class="ml-n5 mr-n3 mx-sm-0"></div>
  </li>
</ol>
