<p class="lead">
  You can prevent route/step navigation using regular route guards in angular.
</p>
<p>
  Typically you create a service or hook up your app with some state management lib like ngrx or akita and check if
  routing should be allowed based on a state. Maybe the user needs to complete a certain step before advancing or
  correct a form error.
</p>
<p>The link below show as simple example using forms and a simple service.</p>
<a routerLink="/form-and-route-guard" target="_blank" class="external">Show example</a>
