<p class="lead">
  The wizard component is basically just a wrapper for a router outlet which adds a header, footer and navigation based
  on the data passed to the route config.
</p>
<p>
  For more info and available config options checkout out the
  <a routerLink="/wizard/options-and-configuration">options part</a> or view examples for more ideas on how you can use
  and setup the wizard.
</p>
<h4>Basic usage</h4>
Use <code>SebNgWizardComponent</code> in template like this:
<div markdown [data]="addComponent | language: 'markup'" class="ml-n5 mr-n3 mx-sm-0 mb-4"></div>

<h4>With custom actions/content in header</h4>
Use <code>SebNgWizardComponent</code> in template like this:
<div markdown [data]="addComponentControls | language: 'markup'" class="ml-n5 mr-n3 mx-sm-0 mb-4"></div>
