<h3>Wieee! You've made it past our route guard:D</h3>
<p>Here's the code for setting it up!</p>
<div class="card bg-light my-3 mx-n3 mx-sm-0">
  <h4 class="card-header">Code</h4>
  <div class="card-body">
    <app-code-snippet
      [data]="routerOutlet"
      [lang]="'markup'"
      [title]="'form-and-route-guard.component.html (app.component.html)'"
    ></app-code-snippet>
    <app-code-snippet
      [data]="routerOutletTs"
      [lang]="'typescript'"
      [title]="'form-and-route-guard.component.ts (app.component.ts)'"
    ></app-code-snippet>
    <app-code-snippet
      [data]="template"
      [lang]="'markup'"
      [title]="'reactive-form.component.html (step 1)'"
    ></app-code-snippet>
    <app-code-snippet
      [data]="component"
      [lang]="'typescript'"
      [title]="'reactive-form.component.ts (step 1)'"
    ></app-code-snippet>
    <app-code-snippet
      [data]="routeConfig"
      [lang]="'typescript'"
      [title]="'form-and-route-guard-routing.module.ts (app-routing.module.ts)'"
    ></app-code-snippet>
  </div>
</div>
